In [1]:
import polars as pl
import polars.selectors as cs
from glob import glob
from toolz import pipe
from functools import reduce
from operator import add, mul

In [2]:
# Remove the bad file (See below)
!rm ./data/uber/uber-bad.csv

rm: ./data/uber/uber-bad.csv: No such file or directory

# Column exploration using `polars` tables.

In this lecture, we will explore how to use `polars` tables to explore the columns across many files. This will help us find and fix problems with the naming and order of columns across the files.

**Basic procedure:** We want to make a column summary table that shows which columns are present in each file. We will do this by:
1. Use `glob` to find all files matching a pattern.
1. Read in each file as a list of `polars` tables.
2. Stack all columns and aggregate to find unique columns and their counts.
3. Create an columns containing the literal value of `1`.
4. Use a reduction to join all the tables together on the column names.
5. Replace missing values with `0`.
6. Explore the resulting table to find problems, e.g. columns that are not in all files, columns with different capitalization, etc.

### Example - Exploring the columns in Uber data files

#### Step 1: Use `glob` to find all files matching a pattern

In [3]:
(uber_paths :=
 glob('./data/uber/*.csv')
)

['./data/uber/uber-raw-data-jun14-sample.csv',
 './data/uber/uber-raw-data-apr14-sample.csv',
 './data/uber/uber-raw-data-may14-sample.csv',
 './data/uber/uber-raw-data-sep14-sample.csv',
 './data/uber/uber-raw-data-aug14-sample.csv',
 './data/uber/uber-raw-data-jul14-sample.csv']

#### Step 2: Read and process each file

**Procedure:**
1. Read one row from each file.
2. Add a new column containing the file name.
3. Use `unpivot` to stack all columns except the file name.
4. Drop the values column.
5. Add a new column containing the literal value of `1`.
6. Use `pivot` to unstack the table so that each file is a column.

In [4]:
(uber_tables :=
 [pl.read_csv(p)
    .head(1)
     .with_columns(file = pl.lit(p.replace('\\','/').split('/')[-1]))
     .unpivot(index='file', variable_name='Column')
     .drop('value')
     .with_columns(pl.lit(1).alias('ones'))
     .pivot(index = 'Column', columns='file', values='ones')
  for p in uber_paths
  ]
)

/var/folders/1p/7ykd2jqx0_bb8s6ybyq242480000gn/T/ipykernel_22799/2348454989.py:8: DeprecationWarning: the argument `columns` for `DataFrame.pivot` is deprecated. It was renamed to `on` in version 1.0.0.
  .pivot(index = 'Column', columns='file', values='ones')

[shape: (4, 2)
 ┌───────────┬────────────────────────────────┐
 │ Column    ┆ uber-raw-data-jun14-sample.csv │
 │ ---       ┆ ---                            │
 │ str       ┆ i32                            │
 ╞═══════════╪════════════════════════════════╡
 │ Date/Time ┆ 1                              │
 │ Lat       ┆ 1                              │
 │ Lon       ┆ 1                              │
 │ Base      ┆ 1                              │
 └───────────┴────────────────────────────────┘,
 shape: (4, 2)
 ┌───────────┬────────────────────────────────┐
 │ Column    ┆ uber-raw-data-apr14-sample.csv │
 │ ---       ┆ ---                            │
 │ str       ┆ i32                            │
 ╞═══════════╪════════════════════════════════╡
 │ Date/Time ┆ 1                              │
 │ Lat       ┆ 1                              │
 │ Lon       ┆ 1                              │
 │ Base      ┆ 1                              │
 └───────────┴────────────────────────────────┘,
 shape: (4, 2)
 ┌───────────┬────────────────────────────────┐
 │ Column    ┆ uber-raw-data-may14-sample.csv │
 │ ---       ┆ ---                            │
 │ str       ┆ i32                            │
 ╞═══════════╪════════════════════════════════╡
 │ Date/Time ┆ 1                              │
 │ Lat       ┆ 1                              │
 │ Lon       ┆ 1                              │
 │ Base      ┆ 1                              │
 └───────────┴────────────────────────────────┘,
 shape: (4, 2)
 ┌───────────┬────────────────────────────────┐
 │ Column    ┆ uber-raw-data-sep14-sample.csv │
 │ ---       ┆ ---                            │
 │ str       ┆ i32                            │
 ╞═══════════╪════════════════════════════════╡
 │ Date/Time ┆ 1                              │
 │ Lat       ┆ 1                              │
 │ Lon       ┆ 1                              │
 │ Base      ┆ 1                              │
 └───────────┴────────────────────────────────┘,
 shape: (4, 2)
 ┌───────────┬────────────────────────────────┐
 │ Column    ┆ uber-raw-data-aug14-sample.csv │
 │ ---       ┆ ---                            │
 │ str       ┆ i32                            │
 ╞═══════════╪════════════════════════════════╡
 │ Date/Time ┆ 1                              │
 │ Lat       ┆ 1                              │
 │ Lon       ┆ 1                              │
 │ Base      ┆ 1                              │
 └───────────┴────────────────────────────────┘,
 shape: (4, 2)
 ┌───────────┬────────────────────────────────┐
 │ Column    ┆ uber-raw-data-jul14-sample.csv │
 │ ---       ┆ ---                            │
 │ str       ┆ i32                            │
 ╞═══════════╪════════════════════════════════╡
 │ Date/Time ┆ 1                              │
 │ Lat       ┆ 1                              │
 │ Lon       ┆ 1                              │
 │ Base      ┆ 1                              │
 └───────────┴────────────────────────────────┘]

#### Step 3: Combine all the processed tables into a single table

In [5]:
df1 = pl.DataFrame({'Column': ['a', 'b'],
                    'file1.csv':2*[1]})
df2 = pl.DataFrame({'Column': ['a', 'c'],
                    'file2.csv':2*[1]})

In [6]:
(df1.join(df2, 
          on='Column', 
          how = 'outer', 
          suffix = '_right',
          )
    .with_columns(Column = pl.coalesce('Column', 'Column_right'))
    .drop('Column_right')
)

/var/folders/1p/7ykd2jqx0_bb8s6ybyq242480000gn/T/ipykernel_22799/297218877.py:1: DeprecationWarning: use of `how='outer'` should be replaced with `how='full'`.
(Deprecated in version 0.20.29)
  (df1.join(df2,

shape: (3, 3)
┌────────┬───────────┬───────────┐
│ Column ┆ file1.csv ┆ file2.csv │
│ ---    ┆ ---       ┆ ---       │
│ str    ┆ i64       ┆ i64       │
╞════════╪═══════════╪═══════════╡
│ a      ┆ 1         ┆ 1         │
│ c      ┆ null      ┆ 1         │
│ b      ┆ 1         ┆ null      │
└────────┴───────────┴───────────┘

In [33]:
join_next = lambda df1, df2: (df1.join(df2, 
                                       on='Column', 
                                       how = 'outer', 
                                       suffix = '_right')
                                 .with_columns(Column = pl.coalesce('Column', 'Column_right'))
                                 .drop('Column_right')
                             )

(combined_tables :=
 reduce(join_next, uber_tables)
 .fill_null(0)
 .sort('Column') # Should help find similar names/spellings/cases
)

/var/folders/1p/7ykd2jqx0_bb8s6ybyq242480000gn/T/ipykernel_22799/3979226099.py:1: DeprecationWarning: use of `how='outer'` should be replaced with `how='full'`.
(Deprecated in version 0.20.29)
  join_next = lambda df1, df2: (df1.join(df2,

shape: (4, 7)
┌───────────┬──────────────┬──────────────┬──────────────┬─────────────┬─────────────┬─────────────┐
│ Column    ┆ uber-raw-dat ┆ uber-raw-dat ┆ uber-raw-dat ┆ uber-raw-da ┆ uber-raw-da ┆ uber-raw-da │
│ ---       ┆ a-jun14-samp ┆ a-apr14-samp ┆ a-may14-samp ┆ ta-sep14-sa ┆ ta-aug14-sa ┆ ta-jul14-sa │
│ str       ┆ le.csv       ┆ le.csv       ┆ le.csv       ┆ mple.csv    ┆ mple.csv    ┆ mple.csv    │
│           ┆ ---          ┆ ---          ┆ ---          ┆ ---         ┆ ---         ┆ ---         │
│           ┆ i32          ┆ i32          ┆ i32          ┆ i32         ┆ i32         ┆ i32         │
╞═══════════╪══════════════╪══════════════╪══════════════╪═════════════╪═════════════╪═════════════╡
│ Base      ┆ 1            ┆ 1            ┆ 1            ┆ 1           ┆ 1           ┆ 1           │
│ Date/Time ┆ 1            ┆ 1            ┆ 1            ┆ 1           ┆ 1           ┆ 1           │
│ Lat       ┆ 1            ┆ 1            ┆ 1            ┆ 1           ┆ 1           ┆ 1           │
│ Lon       ┆ 1            ┆ 1            ┆ 1            ┆ 1           ┆ 1           ┆ 1           │
└───────────┴──────────────┴──────────────┴──────────────┴─────────────┴─────────────┴─────────────┘

#### Step 5: Explore the combined table

In [8]:
(combined_tables :=
 combined_tables
 .with_columns(all = pl.reduce(mul, cs.starts_with('uber')),       # Multiple 1/0 columns <==> AND
               count = pl.reduce(add, cs.starts_with('uber')),
               )
)

shape: (4, 9)
┌───────────┬─────────────┬─────────────┬─────────────┬───┬─────────────┬────────────┬─────┬───────┐
│ Column    ┆ uber-raw-da ┆ uber-raw-da ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-d ┆ all ┆ count │
│ ---       ┆ ta-jun14-sa ┆ ta-apr14-sa ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ata-jul14- ┆ --- ┆ ---   │
│ str       ┆ mple.csv    ┆ mple.csv    ┆ mple.csv    ┆   ┆ mple.csv    ┆ sample.csv ┆ i32 ┆ i32   │
│           ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---         ┆ ---        ┆     ┆       │
│           ┆ i32         ┆ i32         ┆ i32         ┆   ┆ i32         ┆ i32        ┆     ┆       │
╞═══════════╪═════════════╪═════════════╪═════════════╪═══╪═════════════╪════════════╪═════╪═══════╡
│ Base      ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
│ Date/Time ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
│ Lat       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
│ Lon       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
└───────────┴─────────────┴─────────────┴─────────────┴───┴─────────────┴────────────┴─────┴───────┘

### Putting it all together

In [9]:
join_next = lambda df1, df2: (df1.join(df2, on='Column', how = 'full', suffix = '_right')
                                 .with_columns(Column = pl.coalesce('Column', 'Column_right'))
                                 .drop('Column_right')
                             )


(uber_column_summary :=
 pipe(glob('./data/uber/*.csv'),
     lambda L: [pl.read_csv(p)
                  .with_columns(file = pl.lit(p.replace('\\','/').split('/')[-1]))
                  .head(1) 
                  .unpivot(index='file', 
                           variable_name='Column')
                  .drop('value')
                  .with_columns(pl.lit(1).alias('ones'))
                  .pivot(index = 'Column', 
                         on='file', 
                         values='ones') 
                for p in L 
                ],
     lambda L: reduce(join_next, L).sort('Column').fill_null(0),
     lambda df: df.with_columns(all = pl.reduce(mul, cs.starts_with('uber')), 
                                count = pl.reduce(add, cs.starts_with('uber'))
                               ),
     )
)

shape: (4, 9)
┌───────────┬─────────────┬─────────────┬─────────────┬───┬─────────────┬────────────┬─────┬───────┐
│ Column    ┆ uber-raw-da ┆ uber-raw-da ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-d ┆ all ┆ count │
│ ---       ┆ ta-jun14-sa ┆ ta-apr14-sa ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ata-jul14- ┆ --- ┆ ---   │
│ str       ┆ mple.csv    ┆ mple.csv    ┆ mple.csv    ┆   ┆ mple.csv    ┆ sample.csv ┆ i32 ┆ i32   │
│           ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---         ┆ ---        ┆     ┆       │
│           ┆ i32         ┆ i32         ┆ i32         ┆   ┆ i32         ┆ i32        ┆     ┆       │
╞═══════════╪═════════════╪═════════════╪═════════════╪═══╪═════════════╪════════════╪═════╪═══════╡
│ Base      ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
│ Date/Time ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
│ Lat       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
│ Lon       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 1   ┆ 6     │
└───────────┴─────────────┴─────────────┴─────────────┴───┴─────────────┴────────────┴─────┴───────┘

#### Look for missing columns

In [10]:
(uber_column_summary
 .filter(pl.col('all') == 0)
)

shape: (0, 9)
┌────────┬──────────────┬──────────────┬─────────────┬───┬─────────────┬─────────────┬─────┬───────┐
│ Column ┆ uber-raw-dat ┆ uber-raw-dat ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-da ┆ all ┆ count │
│ ---    ┆ a-jun14-samp ┆ a-apr14-samp ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ta-jul14-sa ┆ --- ┆ ---   │
│ str    ┆ le.csv       ┆ le.csv       ┆ mple.csv    ┆   ┆ mple.csv    ┆ mple.csv    ┆ i32 ┆ i32   │
│        ┆ ---          ┆ ---          ┆ ---         ┆   ┆ ---         ┆ ---         ┆     ┆       │
│        ┆ i32          ┆ i32          ┆ i32         ┆   ┆ i32         ┆ i32         ┆     ┆       │
╞════════╪══════════════╪══════════════╪═════════════╪═══╪═════════════╪═════════════╪═════╪═══════╡
└────────┴──────────────┴──────────────┴─────────────┴───┴─────────────┴─────────────┴─────┴───────┘

#### Find columns that are not in all files with a count

In [11]:
(uber_column_summary
 .filter(pl.col('count') != pl.col('count').max())
)

shape: (0, 9)
┌────────┬──────────────┬──────────────┬─────────────┬───┬─────────────┬─────────────┬─────┬───────┐
│ Column ┆ uber-raw-dat ┆ uber-raw-dat ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-da ┆ all ┆ count │
│ ---    ┆ a-jun14-samp ┆ a-apr14-samp ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ta-jul14-sa ┆ --- ┆ ---   │
│ str    ┆ le.csv       ┆ le.csv       ┆ mple.csv    ┆   ┆ mple.csv    ┆ mple.csv    ┆ i32 ┆ i32   │
│        ┆ ---          ┆ ---          ┆ ---         ┆   ┆ ---         ┆ ---         ┆     ┆       │
│        ┆ i32          ┆ i32          ┆ i32         ┆   ┆ i32         ┆ i32         ┆     ┆       │
╞════════╪══════════════╪══════════════╪═════════════╪═══╪═════════════╪═════════════╪═════╪═══════╡
└────────┴──────────────┴──────────────┴─────────────┴───┴─────────────┴─────────────┴─────┴───────┘

## What if things go wrong?

Now let's manufacture some problems with the files and see how we can use our column exploration table to find and fix them.

In [12]:
f = uber_paths[0] 
original_columns = (pl.read_csv(f).head(1).columns)

(pl.read_csv(f)
   .rename({c:c.upper() for c in original_columns})
   .write_csv(f'data/uber/uber-bad.csv')
)

#### Redo the column summary table to see what has changed.

In [13]:
join_next = lambda df1, df2: (df1.join(df2, on='Column', how = 'full', suffix = '_right')
                                 .with_columns(Column = pl.coalesce('Column', 'Column_right'))
                                 .drop('Column_right')
                             )


(uber_column_summary :=
 pipe(glob('./data/uber/*.csv'),
     lambda L: [pl.read_csv(p)
                  .with_columns(file = pl.lit(p.split('/')[-1]))
                  .head(1) 
                  .unpivot(index='file', 
                           variable_name='Column')
                  .drop('value')
                  .with_columns(pl.lit(1).alias('ones'))
                  .pivot(index = 'Column', 
                         on='file', 
                         values='ones') 
                for p in L 
                ],
     lambda L: reduce(join_next, L).sort('Column').fill_null(0),
     lambda df: df.with_columns(all = pl.reduce(mul, cs.starts_with('uber')), 
                                count = pl.reduce(add, cs.starts_with('uber'))
                               ),
     )
)

shape: (8, 10)
┌───────────┬─────────────┬─────────────┬─────────────┬───┬─────────────┬────────────┬─────┬───────┐
│ Column    ┆ uber-raw-da ┆ uber-raw-da ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-d ┆ all ┆ count │
│ ---       ┆ ta-jun14-sa ┆ ta-apr14-sa ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ata-jul14- ┆ --- ┆ ---   │
│ str       ┆ mple.csv    ┆ mple.csv    ┆ mple.csv    ┆   ┆ mple.csv    ┆ sample.csv ┆ i32 ┆ i32   │
│           ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---         ┆ ---        ┆     ┆       │
│           ┆ i32         ┆ i32         ┆ i32         ┆   ┆ i32         ┆ i32        ┆     ┆       │
╞═══════════╪═════════════╪═════════════╪═════════════╪═══╪═════════════╪════════════╪═════╪═══════╡
│ BASE      ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ Base      ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
│ DATE/TIME ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ Date/Time ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
│ LAT       ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ LON       ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ Lat       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
│ Lon       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
└───────────┴─────────────┴─────────────┴─────────────┴───┴─────────────┴────────────┴─────┴───────┘

#### Look for missing columns

In [14]:
(uber_column_summary
 .filter(pl.col('all') == 0)
)

shape: (8, 10)
┌───────────┬─────────────┬─────────────┬─────────────┬───┬─────────────┬────────────┬─────┬───────┐
│ Column    ┆ uber-raw-da ┆ uber-raw-da ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-d ┆ all ┆ count │
│ ---       ┆ ta-jun14-sa ┆ ta-apr14-sa ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ata-jul14- ┆ --- ┆ ---   │
│ str       ┆ mple.csv    ┆ mple.csv    ┆ mple.csv    ┆   ┆ mple.csv    ┆ sample.csv ┆ i32 ┆ i32   │
│           ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---         ┆ ---        ┆     ┆       │
│           ┆ i32         ┆ i32         ┆ i32         ┆   ┆ i32         ┆ i32        ┆     ┆       │
╞═══════════╪═════════════╪═════════════╪═════════════╪═══╪═════════════╪════════════╪═════╪═══════╡
│ BASE      ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ Base      ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
│ DATE/TIME ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ Date/Time ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
│ LAT       ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ LON       ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ Lat       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
│ Lon       ┆ 1           ┆ 1           ┆ 1           ┆ … ┆ 1           ┆ 1          ┆ 0   ┆ 6     │
└───────────┴─────────────┴─────────────┴─────────────┴───┴─────────────┴────────────┴─────┴───────┘

#### Find columns that are not in all files with a count

In [15]:
(uber_column_summary
 .filter(pl.col('count') != pl.col('count').max())
)

shape: (4, 10)
┌───────────┬─────────────┬─────────────┬─────────────┬───┬─────────────┬────────────┬─────┬───────┐
│ Column    ┆ uber-raw-da ┆ uber-raw-da ┆ uber-raw-da ┆ … ┆ uber-raw-da ┆ uber-raw-d ┆ all ┆ count │
│ ---       ┆ ta-jun14-sa ┆ ta-apr14-sa ┆ ta-may14-sa ┆   ┆ ta-aug14-sa ┆ ata-jul14- ┆ --- ┆ ---   │
│ str       ┆ mple.csv    ┆ mple.csv    ┆ mple.csv    ┆   ┆ mple.csv    ┆ sample.csv ┆ i32 ┆ i32   │
│           ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---         ┆ ---        ┆     ┆       │
│           ┆ i32         ┆ i32         ┆ i32         ┆   ┆ i32         ┆ i32        ┆     ┆       │
╞═══════════╪═════════════╪═════════════╪═════════════╪═══╪═════════════╪════════════╪═════╪═══════╡
│ BASE      ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ DATE/TIME ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ LAT       ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
│ LON       ┆ 0           ┆ 0           ┆ 0           ┆ … ┆ 0           ┆ 0          ┆ 0   ┆ 1     │
└───────────┴─────────────┴─────────────┴─────────────┴───┴─────────────┴────────────┴─────┴───────┘

## Fixing problems

**Basic procedure:** To fix problems with column names, we will:
1. Read all original columns into a dict of dict.  The outer dict will have a key mapping to the file name and a value mapping to a dict of column names for that file.  The inner dict will have a key mapping to the original column name and a value mapping to the original column name.  
2. These inner dict are meant to be used to rename columns.  We will use a function to apply the following transformations:
   - Renaming columns
   - Changing the case of columns
3. Additionally, we may need use `select` to reorder columns and add/remove missing columns.
   - Reordering columns
   - Adding/removing missing columns
   - Recasting columns to a specific data type
  

**Note.** This is a manual process that requires knowledge of the data and the desired column names and order, so solutions will vary.

In [16]:
(uber_paths :=
 glob('./data/uber/*.csv')
)

['./data/uber/uber-raw-data-jun14-sample.csv',
 './data/uber/uber-raw-data-apr14-sample.csv',
 './data/uber/uber-raw-data-may14-sample.csv',
 './data/uber/uber-raw-data-sep14-sample.csv',
 './data/uber/uber-bad.csv',
 './data/uber/uber-raw-data-aug14-sample.csv',
 './data/uber/uber-raw-data-jul14-sample.csv']

In [17]:
(original_columns :=
 {p:{col: col
     for col in 
     pl.read_csv(p).columns
    }
  for p in uber_paths
 }

)

{'./data/uber/uber-raw-data-jun14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-apr14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-may14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-sep14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-bad.csv': {'DATE/TIME': 'DATE/TIME',
  'LAT': 'LAT',
  'LON': 'LON',
  'BASE': 'BASE'},
 './data/uber/uber-raw-data-aug14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-jul14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'}}

In [18]:
(fixed_columns :=
 {**original_columns, 
  './data/uber/uber-bad.csv':{col:col.title() 
                             for col in original_columns['./data/uber/uber-bad.csv']
                             },
}
)

{'./data/uber/uber-raw-data-jun14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-apr14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-may14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-sep14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-bad.csv': {'DATE/TIME': 'Date/Time',
  'LAT': 'Lat',
  'LON': 'Lon',
  'BASE': 'Base'},
 './data/uber/uber-raw-data-aug14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'},
 './data/uber/uber-raw-data-jul14-sample.csv': {'Date/Time': 'Date/Time',
  'Lat': 'Lat',
  'Lon': 'Lon',
  'Base': 'Base'}}

#### Make a type and order specification for the correct columns (Brute force)

In [19]:
(col_and_types := {'Date/Time': pl.String(),
                   'Lat': pl.Float64(),
                   'Lon': pl.Float64(),
                   'Base': pl.String(),
                  }
)

{'Date/Time': String, 'Lat': Float64, 'Lon': Float64, 'Base': String}

#### Make a type and order specification (programmatic)

In [20]:
(example_correct_table := pl.read_csv(uber_paths[0]).head()
)

shape: (5, 4)
┌────────────────────┬─────────┬──────────┬────────┐
│ Date/Time          ┆ Lat     ┆ Lon      ┆ Base   │
│ ---                ┆ ---     ┆ ---      ┆ ---    │
│ str                ┆ f64     ┆ f64      ┆ str    │
╞════════════════════╪═════════╪══════════╪════════╡
│ 6/19/2014 16:49:00 ┆ 40.7568 ┆ -73.9701 ┆ B02682 │
│ 6/12/2014 21:25:00 ┆ 40.6463 ┆ -73.7768 ┆ B02598 │
│ 6/15/2014 22:23:00 ┆ 40.7205 ┆ -73.9575 ┆ B02512 │
│ 6/14/2014 20:34:00 ┆ 40.7639 ┆ -73.9624 ┆ B02617 │
│ 6/13/2014 14:36:00 ┆ 40.7665 ┆ -73.9667 ┆ B02598 │
└────────────────────┴─────────┴──────────┴────────┘

In [21]:
(str_columns := example_correct_table.select(cs.string()).columns
)

['Date/Time', 'Base']

In [22]:
(float_columns := example_correct_table.select(cs.float()).columns
)

['Lat', 'Lon']

In [23]:
(col_and_types := {c: pl.String() for c in str_columns
                  } |    # Merge operator
                  {c:pl.Float64() for c in float_columns
                  }
)

{'Date/Time': String, 'Base': String, 'Lat': Float64, 'Lon': Float64}

In [24]:
(uber_combined :=
 pl.concat([pl.read_csv(p)
              .rename(col_rename)
              .select([pl.col(c).cast(t) for c, t in col_and_types.items()])     # Reorder, remove, or recast columns as needed.
            for p, col_rename in fixed_columns.items()
           ]

))

shape: (700_000, 4)
┌────────────────────┬────────┬─────────┬──────────┐
│ Date/Time          ┆ Base   ┆ Lat     ┆ Lon      │
│ ---                ┆ ---    ┆ ---     ┆ ---      │
│ str                ┆ str    ┆ f64     ┆ f64      │
╞════════════════════╪════════╪═════════╪══════════╡
│ 6/19/2014 16:49:00 ┆ B02682 ┆ 40.7568 ┆ -73.9701 │
│ 6/12/2014 21:25:00 ┆ B02598 ┆ 40.6463 ┆ -73.7768 │
│ 6/15/2014 22:23:00 ┆ B02512 ┆ 40.7205 ┆ -73.9575 │
│ 6/14/2014 20:34:00 ┆ B02617 ┆ 40.7639 ┆ -73.9624 │
│ 6/13/2014 14:36:00 ┆ B02598 ┆ 40.7665 ┆ -73.9667 │
│ …                  ┆ …      ┆ …       ┆ …        │
│ 7/9/2014 7:17:00   ┆ B02617 ┆ 40.7329 ┆ -73.9794 │
│ 7/24/2014 13:34:00 ┆ B02682 ┆ 40.6713 ┆ -73.9846 │
│ 7/3/2014 10:06:00  ┆ B02598 ┆ 40.7623 ┆ -73.966  │
│ 7/8/2014 22:21:00  ┆ B02617 ┆ 40.767  ┆ -73.9171 │
│ 7/14/2014 17:01:00 ┆ B02682 ┆ 40.7331 ┆ -73.9948 │
└────────────────────┴────────┴─────────┴──────────┘

In [25]:
# Remove the bad file (See below)
!rm ./data/uber/uber-bad.csv

## <font color = "red"> Exercise 4.3 </font>

### Task: Explore the column names in the City Bike data files

The data folder contains a set of City Bike data files. Explore the column names in these files to find and fix any problems.  Provide a summary of the problems you found and how you fixed them.

In [72]:
# Your code here

(citi_paths :=
 glob('./data/city_bike/*.csv')
)

(citi_tables :=
 [pl.read_csv(p)
    .head(1)
     .with_columns(file = pl.lit(p.replace('\\','/').split('/')[-1]))
     .unpivot(index='file', variable_name='Column')
     .drop('value')
     .with_columns(pl.lit(1).alias('ones'))
     .pivot(index = 'Column', columns='file', values='ones')
  for p in citi_paths
  ]
)

join_next_citi = lambda df1, df2: (df1.join(df2, 
                                       on='Column', 
                                       how = 'outer', 
                                       suffix = '_right')
                                 .with_columns(Column = pl.coalesce('Column', 'Column_right'))
                                 .drop('Column_right')
                             )

(combined_tables_citi :=
 reduce(join_next_citi, citi_tables)
 .fill_null(0)
 .sort('Column')
)

(combined_tables_citi :=
 combined_tables_citi
 .with_columns(all = pl.reduce(mul, cs.starts_with('JC')),
               count = pl.reduce(add, cs.starts_with('JC')),
               )
)

join_next_citi = lambda df1, df2: (df1.join(df2, on='Column', how = 'full', suffix = '_right')
                                 .with_columns(Column = pl.coalesce('Column', 'Column_right'))
                                 .drop('Column_right')
                             )


(citi_column_summary :=
 pipe(glob('./data/city_bike/*.csv'),
     lambda L: [pl.read_csv(p)
                  .with_columns(file = pl.lit(p.replace('\\','/').split('/')[-1]))
                  .head(1) 
                  .unpivot(index='file', 
                           variable_name='Column')
                  .drop('value')
                  .with_columns(pl.lit(1).alias('ones'))
                  .pivot(index = 'Column', 
                         on='file', 
                         values='ones') 
                for p in L 
                ],
     lambda L: reduce(join_next_citi, L).sort('Column').fill_null(0),
     lambda df: df.with_columns(all = pl.reduce(mul, cs.starts_with('JC')), 
                                count = pl.reduce(add, cs.starts_with('JC'))
                               ),
     )
)

(citi_column_summary
 .filter(pl.col('all') == 0)
)

(citi_column_summary
 .filter(pl.col('count') != pl.col('count').max())
)

f = citi_paths[0] 
original_columns_citi = (pl.read_csv(f).head(1).columns)

(pl.read_csv(f)
   .rename({c:c.upper() for c in original_columns_citi})
   .write_csv(f'data/city_bike/citi-bad.csv')
)

join_next_citi = lambda df1, df2: (df1.join(df2, on='Column', how = 'full', suffix = '_right')
                                 .with_columns(Column = pl.coalesce('Column', 'Column_right'))
                                 .drop('Column_right')
                             )


(citi_column_summary :=
 pipe(glob('./data/city_bike/*.csv'),
     lambda L: [pl.read_csv(p)
                  .with_columns(file = pl.lit(p.split('/')[-1]))
                  .head(1) 
                  .unpivot(index='file', 
                           variable_name='Column')
                  .drop('value')
                  .with_columns(pl.lit(1).alias('ones'))
                  .pivot(index = 'Column', 
                         on='file', 
                         values='ones') 
                for p in L 
                ],
     lambda L: reduce(join_next_citi, L).sort('Column').fill_null(0),
     lambda df: df.with_columns(all = pl.reduce(mul, cs.starts_with('JC')), 
                                count = pl.reduce(add, cs.starts_with('JC'))
                               ),
     )
)

(citi_column_summary
 .filter(pl.col('all') == 0)
)

(citi_column_summary
 .filter(pl.col('count') != pl.col('count').max())
)

(citi_paths :=
 glob('./data/city_bike/*.csv')
)

(original_columns_citi :=
 {p:{col: col
     for col in 
     pl.read_csv(p).columns
    }
  for p in citi_paths
 }

)

(fixed_columns_citi :=
 {**original_columns_citi, 
  './data/city_bike/citi-bad.csv':{col:col.title() 
                             for col in original_columns_citi['./data/city_bike/citi-bad.csv']
                             },
}
)

(col_and_types_citi := {'Trip Duration': pl.String(),
                   'Start Time': pl.Float64(),
                   'Stop Time': pl.Float64(),
                   'Start Station Id': pl.String(),
                   'Start Station Name': pl.String(),
                   'Start Station Latitude': pl.Float64(),
                   'Start Station Longitude': pl.Float64(),
                   'End Station ID': pl.Int64(),
                   'End Station Name': pl.String(),
                   'End Station Latitude': pl.Float64(),
                   'End Station Longitude': pl.Float64(),
                   'Bike ID': pl.Int64(),
                   'User Type': pl.String(),
                   'Birth Year': pl.Int64(),
                   'Gender': pl.String(),
                  }
)

(example_correct_table_citi :=
    pl.read_csv(citi_paths[0])
    .rename({c: c.title() for c in pl.read_csv(citi_paths[0]).columns})
    .head()
)


(str_columns_citi := example_correct_table_citi.select(cs.string()).columns
)

(float_columns_citi := example_correct_table_citi.select(cs.float()).columns
)

(integer_columns_citi := example_correct_table_citi.select(cs.integer()).columns
)

(col_and_types_citi := {c: pl.String() for c in str_columns_citi
                  } |    # Merge operator
                  {c:pl.Float64() for c in float_columns_citi
                  } |    # Merge operator
                  {c:pl.Int64() for c in integer_columns_citi
                  }
)

(citi_combined :=
 pl.concat([
     pl.read_csv(p)
       .rename({c: c.title() for c in pl.read_csv(p).columns})
       .select([pl.col(c).cast(t) for c, t in col_and_types_citi.items()])
     for p in citi_paths
 ])
)

/var/folders/1p/7ykd2jqx0_bb8s6ybyq242480000gn/T/ipykernel_22799/1840245184.py:14: DeprecationWarning: the argument `columns` for `DataFrame.pivot` is deprecated. It was renamed to `on` in version 1.0.0.
  .pivot(index = 'Column', columns='file', values='ones')
/var/folders/1p/7ykd2jqx0_bb8s6ybyq242480000gn/T/ipykernel_22799/1840245184.py:19: DeprecationWarning: use of `how='outer'` should be replaced with `how='full'`.
(Deprecated in version 0.20.29)
  join_next_citi = lambda df1, df2: (df1.join(df2,

shape: (255_063, 15)
┌─────────────┬─────────────┬─────────────┬────────────┬───┬────────────┬─────────┬───────┬────────┐
│ Start Time  ┆ Stop Time   ┆ Start       ┆ End        ┆ … ┆ End        ┆ Bike Id ┆ Birth ┆ Gender │
│ ---         ┆ ---         ┆ Station     ┆ Station    ┆   ┆ Station Id ┆ ---     ┆ Year  ┆ ---    │
│ str         ┆ str         ┆ Name        ┆ Name       ┆   ┆ ---        ┆ i64     ┆ ---   ┆ i64    │
│             ┆             ┆ ---         ┆ ---        ┆   ┆ i64        ┆         ┆ i64   ┆        │
│             ┆             ┆ str         ┆ str        ┆   ┆            ┆         ┆       ┆        │
╞═════════════╪═════════════╪═════════════╪════════════╪═══╪════════════╪═════════╪═══════╪════════╡
│ 2016-01-01  ┆ 2016-01-01  ┆ Grove St    ┆ Brunswick  ┆ … ┆ 3209       ┆ 24647   ┆ 1964  ┆ 2      │
│ 00:02:52    ┆ 00:08:54    ┆ PATH        ┆ St         ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-01  ┆ 2016-01-01  ┆ Grove St    ┆ Van Vorst  ┆ … ┆ 3213       ┆ 24605   ┆ 1962  ┆ 1      │
│ 00:18:22    ┆ 00:21:42    ┆ PATH        ┆ Park       ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-01  ┆ 2016-01-01  ┆ Grove St    ┆ Van Vorst  ┆ … ┆ 3213       ┆ 24689   ┆ 1962  ┆ 2      │
│ 00:18:25    ┆ 00:21:47    ┆ PATH        ┆ Park       ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-01  ┆ 2016-01-01  ┆ Brunswick   ┆ Hamilton   ┆ … ┆ 3203       ┆ 24693   ┆ 1984  ┆ 1      │
│ 00:23:13    ┆ 00:27:21    ┆ St          ┆ Park       ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-01  ┆ 2016-01-01  ┆ Sip Ave     ┆ Pershing   ┆ … ┆ 3210       ┆ 24573   ┆ null  ┆ 0      │
│ 01:03:20    ┆ 01:18:24    ┆             ┆ Field      ┆   ┆            ┆         ┆       ┆        │
│ …           ┆ …           ┆ …           ┆ …          ┆ … ┆ …          ┆ …       ┆ …     ┆ …      │
│ 2016-01-31  ┆ 2016-01-31  ┆ Pershing    ┆ Van Vorst  ┆ … ┆ 3213       ┆ 24669   ┆ 1965  ┆ 1      │
│ 23:09:36    ┆ 23:21:42    ┆ Field       ┆ Park       ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-31  ┆ 2016-01-31  ┆ MLK Light   ┆ Garfield   ┆ … ┆ 3190       ┆ 24718   ┆ 1987  ┆ 1      │
│ 23:17:17    ┆ 23:21:34    ┆ Rail        ┆ Ave        ┆   ┆            ┆         ┆       ┆        │
│             ┆             ┆             ┆ Station    ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-31  ┆ 2016-01-31  ┆ Essex Light ┆ Newport    ┆ … ┆ 3202       ┆ 24619   ┆ 1972  ┆ 1      │
│ 23:38:33    ┆ 23:47:39    ┆ Rail        ┆ PATH       ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-31  ┆ 2016-01-31  ┆ Grove St    ┆ Hamilton   ┆ … ┆ 3203       ┆ 24537   ┆ 1984  ┆ 1      │
│ 23:45:10    ┆ 23:49:42    ┆ PATH        ┆ Park       ┆   ┆            ┆         ┆       ┆        │
│ 2016-01-31  ┆ 2016-02-01  ┆ Liberty     ┆ Newport    ┆ … ┆ 3199       ┆ 24671   ┆ 1977  ┆ 2      │
│ 23:55:36    ┆ 00:19:10    ┆ Light Rail  ┆ Pkwy       ┆   ┆            ┆         ┆       ┆        │
└─────────────┴─────────────┴─────────────┴────────────┴───┴────────────┴─────────┴───────┴────────┘

<font color="orange">Your findings here.<font>
    One issue was the names of the columns are different in each csv file. The way to fix this is is to rename them so all the capitilizations are the exact same for the colummn headers.